<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EvaluacionesOnline</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            background-color: #f4f4f4; /* Fondo gris claro */
            color: #000000; /* Texto claro */
        }

        .card {
            background-color: #ffffff; /* Fondo blanco para las tarjetas */
            color: #212529; /* Texto oscuro */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            .card .fa {
                font-size: 2.5rem; /* Tamaño grande para los iconos */
            }

        .header-title {
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-page="/Home">EvaluacionesOnline</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Evaluaciones/Index">Evaluaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Profesores/Index">Profesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Estudiantes/Index">Estudiantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Respuestas/Index">Respuestas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        @RenderBody()
    </div>
    <footer class="bg-light text-center py-3 mt-4">
        <p>© 2024 - EvaluacionesOnline - <a asp-page="/Privacy">Privacy</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

